.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  text-align: center;
}

.amiiboContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  max-width: 1900px;
}

.amiiboBox{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.amiiboBox img{
  max-width: 100%;
  max-height: 80%;
}

.amiiboName{
  align-self: flex-end;
  text-align: center;
}